body {
    background-color: black;
    margin: 0px;
    overflow: hidden;
}

.logo{
  margin: 250px 530px;
  position:absolute;
  z-index: 1;
  top:0;
  left:0;
}

#canv{
  position:absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
